<!DOCTYPE html>
<html>
 <body>
  <head>
    <div class="notificacoes">
    	<p class="notice"><%= notice %></p>
       	<p class="alert"><%= alert %></p>
    </div>
   </head>    	
   <section>
    <%= yield %>
    </section>
    <footer>
    <p>Feito no boot camp</p>
    </footer>


  </body>
</html>
